# confidential & runtime-stuff, site specific config & data that should not reach a public repository
include/config-local.php
.htaccess
timeadjust.php
DATASTORE
data-store
translations
userpic

# root
apple-touch-icon*.png
favicon.ico
!images/apple-touch-icon*.png
!images/favicon.ico

# developer-specific dirs & files
# should be configured locally rather than in a project file
# users can store this kind of excludes in following places (which will not be committed):
#     -  .git/info/exclude
#     -  in a personal exclude file (git config option 'core.exludefile')
# for more details, see 'git help ignore' and https://help.github.com/articles/ignoring-files
.project
*.diff
archive
local-data/
Makefile
ref-doc
tags
temp

