
.black {
   color: black;
}

.gray {
   color: gray;
}

.blue {
   color: blue;
}

.none {
   text-decoration: none;
   font-weight: normal;
}


/*
a:link {
   color: blue;
}

a:visited {
   color: navy;
}

a:hover {
   color: purple;
}

a:focus {
   color: red;
}

a:active {
   color: red;
}
*/

.header {
   color: #800000;
   text-align: center;
}

.sysmsg {
   color: green;
   font-weight: bold;
}

pre.code {
   background: #dddddd;
   padding: 8px;
/*
   width: auto;
   margin-right: auto;
*/
}

div.quote {
    border: 1px solid #8cacbb;
    margin: 0.3em 2px 0.3em 0.5em;
    padding: 0.3em 0em 0.3em 0.5em;
    width: auto;
    font-style: italic;
/*
    line-height: 1.5em;
*/
}

.image-left {
   float: left;
   clear: both;
   margin: 0.5em 1em 0.5em 0em;
   border: 0px solid Black;
}

.image-inline {
   float: none;
}

.image-right {
   float: right;
   clear: both;
   margin: 0.5em;
   border: 0px solid Black;
}

table.links {
   width: 100%; 
   border-width: 0px;
   border-spacing: 0px;
   margin: 4px;
   empty-cells: hide;
}

table.links td {
   border-width: 0px;
   padding: 8px;
   text-align: center;
   color: black;
   font-weight: bold;
}

table.links a {
   color: blue;
   font-weight: bold;
}


table.infos {
   border-width: 2px;
   border-spacing: 2px;
   margin: 4px;
   empty-cells: hide;
}

table.infos td, table.infos th {
   border-width: 1px;
   padding: 3px;
   text-align: left;
   color: black;
}

table.infos a {
   color: black;
}

table.infos a.hdr {
   color: black;
   font-weight: bold;
}


table.bio_infos {
   border-width: 2px;
   border-spacing: 2px;
   margin: 4px;
   empty-cells: hide;
}

table.bio_infos td, table.bio_infos th {
   border-width: 1px;
   padding: 3px;
   text-align: left;
   color: black;
}

table.bio_infos a {
}

table.bio_infos a.hdr {
   color: black;
   font-weight: bold;
}


table.moves {
   background: #66C17B;
   border-width: 2px;
   border-spacing: 0px;
   margin: 4px;
   empty-cells: hide;
}

table.moves td, table.moves th {
   border-width: 1px;
   padding: 1px;
   color: black;
   text-align: center;
}

table.moves td.c {
   background: #F7F5E3;
   color: red;
   font: bold 85% sans-serif;
   text-decoration: none;
}

table.moves a.w {
   color: white;
   font: bold 85% sans-serif;
   text-decoration: none;
}

table.moves a.b {
   color: black;
   font: bold 85% sans-serif;
   text-decoration: none;
}


table.captures {
   background: #f7f5ff;
   border-width: 0px;
   border-bottom: 1px solid #0c41c9;
   margin: 4px;
}

table.captures th {
   background: #0c41c9;
   color: #fffc70;
   padding: 4px;
}

table.captures td.b {
   vertical-align: top;
   padding: 4px;
   white-space: nowrap;
}

table.captures td.w {
   vertical-align: top;
   padding: 4px;
   white-space: nowrap;
}


table.gamenotes {
   border-width: 0px;
   margin: 4px;
}

table.gamenotes th {
   background: #7aa07a;
   color: #fffc70;
   padding: 4px;
}

table.gamenotes td {
   padding: 0px;
   margin: 0px;
}

table.gamenotes td.notes {
   background: #ddf0dd;
   padding: 0px;
   margin: 0px;
}


img.layoutstone {
   width: 17px;
   height: 17px;
}


/* forums layout */

tr.forum_header {
   background: #d0d0d0;
   color: black;
}

tr.forum_header a {
   color: black;
}

tr.post_head {
   color: black;
}

tr.post_head.normal {
   background: #cccccc;
   color: black;
}
tr.post_head.search_result {
   background: #77bb88;
   color: black;
}
tr.post_head.hidden {
   background: #eecccc;
   color: black;
}
tr.post_head.reply {
   background: #cccccc;
   color: black;
}
tr.post_head.preview {
   background: #cceecc;
   color: black;
}
tr.post_head.edit {
   background: #eeeecc;
   color: black;
}

tr.post_head .post_subject {
   color: black;
   font-size: larger;
   font-weight: bold;
}

tr.post_body {
   background: white;
   color: black;
}

tr.post_buttons {
   background: white;
   color: black;
}


/* common page layout */

body {
   background: #F7F5E3;
   color: black;
}

table#page_head {
   background: #0C41C9;
   color: #FFFC70;
   font-weight: bold;
}

body#dDGS table#page_head {
   background: #C9410C;
   color: #FFFC70;
   font-weight: bold;
}

table#page_head a {
   color: #FFFC70;
   font-weight: bold;
}

table#page_foot {
   background: #0C41C9;
   color: #FFFC70;
   font-weight: bold;
}

body#dDGS table#page_foot {
   background: #C9410C;
   color: #FFFC70;
   font-weight: bold;
}

table#page_foot a {
   color: #FFFC70;
   font-weight: bold;
}

table#page_foot .page_time {
   font-weight: normal;
   font-size: smaller;
}

table#page_menu a {
   color: black;
}

table#page_menu a.strong {
   color: black;
   font-weight: bold;
   font-size: 1.1em;
}

