
table.moves {
   background : #66C17B;/*#33C656;*/ /* 49BCFF;*/
}

a.w {
        color : white;
        font : bold 85% sans-serif;
        text-decoration : none;
}


a.b {
        color : black;
        font : bold 85% sans-serif;
        text-decoration : none;
}

td.r {
        color : red;
        background : #F7F5E3;
        font : bold 70% sans-serif;
        text-decoration : none;
}

a.dead {
        color : black;
        text-decoration : none;
}


img.s13 {
        width : 13px;
        height : 13px;
}

img.s17 {
        width : 17px;
        height : 17px;
}

img.s21 {
        width : 21px;
        height : 21px;
}

img.s25 {
        width : 25px;
        height : 25px;
}

img.s29 {
        width : 29px;
        height : 29px;
}

img.s35 {
        width : 35px;
        height : 35px;
}

img.s42 {
        width : 42px;
        height : 42px;
}

img.s50 {
        width : 50px;
        height : 50px;
}

img.c13 {
        width : 16px;
        height : 13px;
}

img.c17 {
        width : 21px;
        height : 17px;
}

img.c21 {
        width : 26px;
        height : 21px;
}

img.c25 {
        width : 31px;
        height : 25px;
}

img.c29 {
        width : 35px;
        height : 29px;
}

img.c35 {
        width : 43px;
        height : 35px;
}

img.c42 {
        width : 52px;
        height : 42px;
}

img.c50 {
        width : 62px;
        height : 50px;
}
