
/* ------------------------- */
/* global styles */
/* ------------------------- */
.TextBrowsers {
   display: none;
}

.black {
   color: black;
}

.white {
   color: white;
}

.gray {
   color: gray;
}

.blue {
   color: blue;
}

.red {
   color: red;
}

.green {
   color: green;
}

.bold {
   font-weight: bold;
}

.none {
   text-decoration: none;
   font-weight: normal;
}

.center {
   text-align: center;
}

.nowrap
{
   white-space: nowrap;
}

.InlineWarning {
   color: red;
}


/*
a:link {
   color: blue;
}

a:visited {
   color: navy;
}

a:hover {
   color: purple;
}

a:focus {
   color: red;
}

a:active {
   color: red;
}
*/

a.rating {
   color: black;
}

a.gameblack,
a.sendblack,
a.userblack {
   color: black;
}

a[target] /*, a[target="new"], a[target="_blank"]*/
{
   color:olive;
}

h3.header {
   color: #800000;
   text-align: center;
}

.InlineHeader {
   color: #800000;
   font-weight: bold;
}

.sysmsg {
   color: green;
   font-weight: bold;
}

img {
   border: 0px solid black;
/*
  No vertical-align here, else Avant browser
  will badly display the table.goban img:
  enlarging the text display will increase the
  height of the table cells too.
   vertical-align: middle;
*/
   margin: 0px;
}

img.InTextStone {
   width: 17px;
   height: 17px;
   border: 0px solid black;
   vertical-align: middle;
}

table {
   table-layout: auto;
   border: 0px solid red;
   border-spacing: 0px;
   border-collapse: collapse;
   margin: 0px;
   max-width: none;
   overflow: visible;
   empty-cells: show;
   text-align: center;
   text-indent: 0;
}


/* ------------------------- */
/* common page layout */
/* ------------------------- */

body {
   background: #F7F5E3;
   color: black;
   margin: 0px;
}

table#page_head {
   background: #0C41C9;
   color: #FFFC70;
   font-weight: bold;
}

body#dDGS table#page_head {
   background: #C9410C;
}

table#page_head a {
   color: #FFFC70;
   font-weight: bold;
}

table#page_foot {
   background: #0C41C9;
   color: #FFFC70;
   font-weight: bold;
}

body#dDGS table#page_foot {
   background: #C9410C;
}

table#page_foot a {
   color: #FFFC70;
   font-weight: bold;
}

table#page_foot .page_time {
   font-weight: normal;
   font-size: smaller;
}


table#page_menu a {
   color: black;
}

table#page_menu a.strong {
   color: black;
   font-weight: bold;
   font-size: 1.1em;
}

/* links of bottom menu */
table.links {
   width: 100%; 
   border-width: 0px;
   border-spacing: 0px;
   margin: 4px;
   empty-cells: hide;
}

table.links td {
   border-width: 0px;
   padding: 8px;
   text-align: center;
   color: black;
   font-weight: bold;
}

table.links a {
   color: blue;
   font-weight: bold;
}




/* ------------------------- */
/* usual tables */
/* ------------------------- */

table.table {
   border: 0px solid #cccccc;
   border-spacing: 0px;
   margin: 0px;
   text-align: left;
   empty-cells: show;
}

table.table td, table.table th {
   border: 0px solid #cccccc;
   margin: 0px;
   padding: 3px;
}

table.table tr.head {
   background: #cccccc;
   text-align: center;
}

table.table tr.row1, table.table tr.row3 {
   background: #ffffff;
}
table.table tr.row2, table.table tr.row4 {
   background: #e0e8ed;
}
table.table tr.row1 td.warning, table.table tr.row3 td.warning {
   color: black;
   background: #ffcccc;
}
table.table tr.row2 td.warning, table.table tr.row4 td.warning {
   color: black;
   background: #e6b9bd;
}
table.table tr.highlight {
   background: #ffd070;
}

table.table th.button {
   min-width: 96px;
   width: 96px;
   white-space: nowrap;
}
table.table td.button {
   background-repeat: no-repeat;
   background-position: center;
   padding: 0px 2px 0px 2px;
   min-width: 96px;
   width: 96px;
   text-align: center;
   white-space: nowrap;
}
table.table a.button {
   display: block;
   width: 92px;
/*
*/
   min-width: 92px;
   font: bold 100% sans-serif;
   text-decoration: none;
}



/* ------------------------- */
/* infos tables */
/* ------------------------- */

table.infos {
   table-layout: fixed;
   border: 2px outset #F7F5E3; /* page background-color */
   border-spacing: 2px;
   border-collapse: separate;
   margin: 4px;
   empty-cells: hide;
}

table.infos td, table.infos th {
   border: 1px inset #F7F5E3; /* page background-color */
   padding: 3px;
   text-align: left;
   color: black;
}

table.infos td.header, table.infos th.header {
   font-weight: bold;
}

table.infos td.onvacation,
table.infos td.onvacation a {
   color: red;
   font-weight: bold;
}

table.infos td.header a {
   color: black;
}

table.infos tr.highlight {
   background: #ffd070;
}

table.infos tr.warning, table.infos td.warning {
   background: #f8c4b8;
}


/* biographical infos:
   must left the links in the right column natural
*/
/*
table#bio_infos a {
   color: blue;
}
*/


form#bioform_form td {
   vertical-align: top;
}

table#biomove_infos td {
   vertical-align: top;
}

table#biomove_infos div {
   margin: 0px;
}

table#biomove_infos img {
   width: 12px;
   height: 12px;
   border: 0px solid black;
   margin: 4px 4px 0px 4px;
   vertical-align: top;
}



/* ------------------------- */
/* board page */
/* ------------------------- */

table.Goban {
   background-repeat: repeat;
   background-position: top left; /*  0% 0% top left */
   empty-cells: hide;
   border-collapse: collapse !important;
   border-spacing: 0px !important;
}

table.Goban,
table.Goban img,
table.Goban tr,
table.Goban td {
   margin: 0px !important;
   padding: 0px !important;
   line-height: 1px !important;
   white-space: nowrap !important;
   border: 0px solid red !important;
/*
  No vertical-align: here, else Avant browser
  will badly display the table.goban img:
  enlarging the text display will increase the
  height of the table cells too.
   vertical-align: top !important;
*/
}

table.Goban td {
   padding: 0px;
   margin: 0px;
   text-align: left;
   color: black;
}

table.Goban img {
   border: 0px solid black;
   margin: 0px;
}



table.Captures {
   background: #f7f5ff;
   border-width: 0px 0px 1px 0px;
   border-bottom: 1px solid #0c41c9;
   margin: 4px;
}

table.Captures th {
   background: #0c41c9;
   color: #fffc70;
   border: 0px solid gray;
   padding: 4px;
}

table.Captures td.B {
   border: 0px;
   vertical-align: top;
   padding: 4px;
   white-space: nowrap;
}

table.Captures td.W {
   border: 0px;
   vertical-align: top;
   padding: 4px;
   white-space: nowrap;
}

table.Captures dl {
   padding: 0px;
   margin: 0px;
}

table.Captures dt {
   padding: 0px;
   margin: 0px;
}

table.Captures img {
   vertical-align: middle;
}


table.GameNotes {
   border-width: 0px;
   margin: 4px;
}

table.GameNotes th {
   background: #7aa07a;
   color: #fffc70;
   padding: 4px;
}

table.GameNotes td {
   padding: 0px;
   margin: 0px;
}

table.GameNotes td.Notes {
   background: #ddf0dd;
   padding: 0px;
   margin: 0px;
}


table.GameInfos {
   border: 0px solid #e0e8ed;
   border-spacing: 0px;
   margin: 0px;
   text-align: left;
   empty-cells: show;
}

table.GameInfos th,
table.GameInfos td {
   border: 0px solid #e0e8ed;
   margin: 0px;
   padding: 4px;
}

table.GameInfos tr {
   background: #e0e8ed;
}

table.GameInfos tr#blackInfo,
table.GameInfos tr#blackTime {
   background: #dddddd;
}

table.GameInfos tr#whiteInfo,
table.GameInfos tr#whiteTime {
   background: #ffffff;
}


/* board page - old moves table */

table.moves {
   background: #66C17B;
   border-width: 2px;
   border-spacing: 0px;
   margin: 4px;
   empty-cells: hide;
}

table.moves th,
table.moves td {
   border-width: 1px;
   padding: 1px;
   color: black;
   text-align: center;
}

table.moves td.c {
   background: #F7F5E3;
   color: red;
   font: bold 85% sans-serif;
   text-decoration: none;
}

table.moves a.w {
   color: white;
   font: bold 85% sans-serif;
   text-decoration: none;
}

table.moves a.b {
   color: black;
   font: bold 85% sans-serif;
   text-decoration: none;
}


/* ------------------------- */
/* forums layout */
/* ------------------------- */

table.Forum {
   background: #e0e8ed;
   color: black;
   text-align: left;
   border: 0px solid red;
   border-collapse: collapse;
   margin: 0px;
   border-spacing: 0px;
   empty-cells: show;
   width: 99%;
}

/* in status page */
table#forumPending {
   width: 90%;
}

table.Forum table {
   background: #e0e8ed;
   color: black;
   text-align: left;
   border: 0px solid black;
   border-collapse: collapse;
   margin: 0px;
   border-spacing: 0px;
   empty-cells: show;
   width: 100%;
}

/* forum lists */
table.Forum .Row3,
table.Forum .Row1 {
   background: #e0e8ed;
   color: black;
}
table.Forum .Row4,
table.Forum .Row2 {
   background: white;
   color: black;
}

table#forumIndex tr.Row2 td {
   padding: 0px;
   margin: 0px;
}

table#forumIndex tr.Row2 {
   padding: 0px;
   margin: 0px;
}

/*
table#forumIndex tr.Row2 dd,
table#forumIndex tr.Row2 dt,
*/
table#forumIndex tr.Row2 dl {
   margin: 0px;
}


table#forumIndex td.name {
   width: 60%;
   padding: 3px 8px 3px 8px;
}
table#forumIndex td.name a {
   font-weight: bold;
}
table#forumIndex td.PostCnt,
table#forumIndex td.PostDate {
   white-space: nowrap;
}


table.Forum .Moderated {
   color: #ff4466;
}

table.Forum td {
   border: 0px solid red;
   padding: 3px;
   margin: 0px;
   text-align: left;
   color: black;
}

table.Forum td.Indent {
   width: 15px;
   min-width: 15px;
   padding: 0px;
   margin: 0px;
   border: 0px solid blue;
/*
   display: none;
   visible: none;
   display: none;
*/
}

table.Forum td.Indent2 {
   padding: 0px;
   margin: 0px;
   border: 0px solid red;
}

table.Forum tr.Caption td {
   background: #000080;
   color: white;
   text-align: left;
   padding: 3px 3px 3px 8px;
}

table.Forum tr.ForumLinksT td,
table.Forum tr.ForumLinksB td {
   background: #d0d0d0;
   color: black;
   padding: 3px 8px 3px 8px;
   text-align: center;
}


table.Forum .LinksL {
   background: #d0d0d0;
   color: black;
   border: 0px solid lime;
   margin: 0px;
   text-align: left;
   float: left;
   top: 0%;
}

table.Forum .LinksR {
   background: #d0d0d0;
   color: black;
   border: 0px solid lime;
   margin: 0px;
   text-align: right;
   float: right;
   top: 0%;
}

table.Forum .LinksL a {
   color: black;
}

table.Forum .LinksR a {
   color: black;
}

/*
  The headers of the posts have the class="PostHeadSubclass"
   where Subclass is one of:
    Normal, Hidden, Reply, Preview, Edit, SearchResult
*/
table.Forum tr.PostHeadNormal {
   background: #cccccc;
   color: black;
}
table.Forum tr.PostHeadReply {
   background: #cccccc;
   color: black;
}
table.Forum tr.PostHeadPreview {
   background: #cceecc;
   color: black;
}
table.Forum tr.PostHeadEdit {
   background: #eeeecc;
   color: black;
}
table.Forum tr.PostHeadHidden {
   background: #eecccc;
   color: black;
}
table.Forum tr.PostHeadSearchResult {
   background: #77bb88;
   color: black;
}

table.Forum tr.PostHeadSearchResult .PostSubject,
table.Forum tr.PostHeadEdit .PostSubject,
table.Forum tr.PostHeadPreview .PostSubject,
table.Forum tr.PostHeadReply .PostSubject,
table.Forum tr.PostHeadHidden .PostSubject,
table.Forum tr.PostHeadNormal .PostSubject {
   color: black;
   font-size: larger;
   font-weight: bold;
}

table.Forum tr.PostBody {
   background: white;
   color: black;
}

table.Forum tr.PostButtons {
   background: white;
   color: black;
}

table.Forum tr.PostButtons a.Highlight {
   color: #ee6666;
}



/* ------------------------- */
/* message allowed tags */
/* ------------------------- */

pre.code {
   background: #dddddd;
   margin: 0.3em 2px 0.3em 0.5em;
   padding: 0.3em 0em 0.3em 0.5em;
   width: auto;
/*
   padding: 8px;
   margin-right: auto;
*/
}

div.quote {
   border: 1px solid #8cacbb;
   margin: 0.3em 2px 0.3em 0.5em;
   padding: 0.3em 0em 0.3em 0.5em;
   width: auto;
   font-style: italic;
/*
   line-height: 1.5em;
*/
}


/* ------------------------- */
